<html>
  <head>
    <title>Code Everything</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
<body>
  
<nav class="navbar navbar-expand navbar-default">
    <div class="container-fluid">
     <img src="/static/logo.jpg" alt="Code Everything Logo">
     <ul class="nav navbar-nav">
          <li><a class="nav-link" href="/c">C</a></li>   
          <li><a class="nav-link" href="/python">Python</a></li>
          <li><a class="nav-link" href="/ds_algo">DS ALGO</a></li>
          <li><a class="nav-link" href="/linux">Linux</a></li>
          <li><a class="nav-link" href="/datascience">Data Science</a></li>
          <li><a class="nav-link" href="/sql">SQL</a></li>
          <li><a class="nav-link" href="/java">Java</a></li>
          <li><a class="nav-link" href="/binary_exploitation">Advanced C</a></li>
          <li><a class="nav-link" href="/interviewprep">Interview Prep</a></li>
          <li><a class="nav-link" href="/php">PHP</a></li>
     </ul>
     <ul class="nav navbar-nav">
          <form class="navbar-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search here"> 
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-search"></i>
          </button>
          </form>
    </ul>
    </div>
</nav>
        
<div class="container-fluid" style="padding-right: 45%; padding-left: 3%;">
    <h3>Trending Technologies</h3>
      <div class="row">
      <div class="col-md-3">
        <a href="/c">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/c.png" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>

      <div class="col-md-3">
        <a href="/python">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/python.png" class="container-fluid">
            </div>
            </div>
          </div></a>
      </div>

      <div class="col-md-3">
        <a href="/ds_algo">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/dsalgo.jpg" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>

      <div class="col-md-3">
        <a href="/linux">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/linux.png" class="container-fluid">
           </div>
            </div>
        </div></a>
      </div>

      <div class="col-md-12 rounded-3">
        <a href="https://www.youtube.com/channel/UCKkUM4IIFDXO68ucbRdzvmQ">
        <div class="card">
          <div class="card-bg-default">
            <h4 class="card-title">We are at YouTube</h4>
            <img src="/static/yt.jpg" class="container-fluid">
          </div>
        </div></a>
      </div>
    <div class="row">
      <div class="col-md-3">
        <h5>Feedback: palanioffcl@gmail.com</h5>
      </div>
   </div>
   <div class="col-md-3">
    <h4> Contributors: </h4>
    <ul>
      <li><a href="palanioffcl.github.io">Palani</a></li>
    </ul>
  </div>
      
    </div><br>
    <div class="row">
      <div class="col-md-3">
        <a href="/datascience">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/datascience.jfif" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>

      <div class="col-md-3">
        <a href="/sql">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/sql.jpg" class="container-fluid">
            </div>
            </div>
          </div></a>
      </div>

      <div class="col-md-3">
        <a href="/java">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/java.jpg" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>

      <div class="col-md-3">
        <a href="/binary_exploitation">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/memory leaking.png" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>
      
      
    </div><br>

    <div class="row">
      <div class="col-md-3">
        <a href="/interviewprep">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/interview.jpg" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>

      <div class="col-md-3">
        <a href="/php">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/php.png" class="container-fluid">
            </div>
            </div>
          </div></a>
      </div>
      <div class="col-md-3">
        <a href="/spss">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/spss.png" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>
      
      <div class="col-md-3">
        <a href="/machine_learning">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/ml.jpeg" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>
      </div>
    </div>  
          
  <div class="container-fluid" style="padding-right: 25%; padding-left: 3%;">
    <h3>Programming Languages</h3>
    <div class="row">
      <div class="col-md-2">
        <a href="/c">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/c.png" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>

      <div class="col-md-2">
        <a href="/python">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/python.png" class="container-fluid">
            </div>
            </div>
          </div></a>
      </div>

      <div class="col-md-2">
        <a href="/java">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/java.jpg" class="container-fluid">
            </div>
            </div>
          </div></a>
      </div>

      <div class="col-md-2">
        <a href="/php">
        <div class="card-rows">   
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/php.png" class="container-fluid">
            </div>
            </div>
          </div></a>
      </div>
    </div>
  </div><br><br>

  <div class="container-fluid" style="padding-right: 25%; padding-left: 3%;">
    <h3>Artificial Inteligence & DataScience</h3>
    <div class="row">
      <div class="col-md-2">
        <a href="/datascience">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/datascience.jfif" class="container-fluid">
            </div>
            </div>
        </div></a>
      </div>

      <div class="col-md-2">
        <a href="/spss">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/spss.png" class="container-fluid">
            </div>
            </div>
          </div></a>
      </div>

      <div class="col-md-2">
        <a href="/machinelearning">
        <div class="card-rows">
          <div class="card bg-default">
            <div class="card-body text-center">
              <img src="/static/images/ml.jpeg" class="container-fluid">
            </div>
            </div>
          </div></a>
      </div>

    </div>
  </div>
</div>
<br><footer class="text-center container-fluid text-lg-start bg-light text-muted">
    
  <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
  
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>About Us
          </h6>
          <p>
            Hi there, We actually created this platform to make computer science & Programming easy.
            I saw many students are struggling to learn stuff and we wish to learn software development easier.
            Hope it helpful...🙂</p>
        </div>
      
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
         <h6 class="text-uppercase fw-bold mb-4">
            Social Handles
          </h6>
          <p>
            <a href="https://www.youtube.com/channel/UCKkUM4IIFDXO68ucbRdzvmQ/" class="text-reset">YouTube</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Discord</a>
          </p>
          <p>
            <a href="https://linkedin.com/in/palanioffcl" class="text-reset">Linkedin</a>
          </p>
          <p>
            <a href="https://github.com/palanioffcl" class="text-reset">Github</a>
          </p>
        </div>
       
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Want to Contribute:
          </h6>
          <p>
            <a href="mailto:palanioffcl@gmail.com" class="text-reset">Mail to us</a>
          </p>
          <p>
            <a href="mailto:palanioffcl@gmail.com" class="text-reset">Feedback</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
       
      </div>
    </div>

  <div class="text-center p-5" style="background-color: rgba(0, 0, 0, 0.05);">
    Made with ❤ by
    <a class="text-reset fw-bold" href="https://codeeverything.herokuapp.com/">CodeEverything</a>
  </div>
</footer>
</body>
</html>